.form {
    max-width: 720px;
    margin: 0 auto 40px;
    .row {
        margin:  0 0 15px;
    }
    .col {
        margin:  0 10px;
    }
    .main-choice {
        width: 59%;
        margin-right: 50px;
    }
	.row {
      margin:  0 0 15px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  .col {
      flex-grow: 1;
      flex-basis: 0;
      margin:  0 10px;
  }
  .form-info {
    font-size: 12px;
    margin-top: 20px;
    p {
      font-size: 12px;
      margin-bottom: 5px;
    }
    a {
      color: #EF2637;
    }
  }
}

.form-block {
	margin-bottom: 30px;
}

.question {
    font-weight: 500;
    font-size: 15px;
}


.multipart_field {
  display: flex;
}

.field input.multipart_field1:not([radio]):not([checkbox]) {
  width: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.field input.multipart_field2:not([radio]):not([checkbox]) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.data-select option {
  display: none;
}

.countrycode-wrapper:after {
  // content: '+';
  // position: absolute;
  // top: 14px;
  // left: 8px;
}

.phonenumber *:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.row-question {
	display: none;
}

.control {
  display: none;

  + label {
    padding: 0 0 0 24px;
    display: inline-block;
    line-height: 1.8rem;

    &:before, &:after {
      content: '';
      position: absolute;
      transition: all .2s;
    }

    &:before {
      width: 18px;
      height: 18px;
      border: 1px solid #cdcdcd;
      top: 0;
      left: -1px;
      border-radius: 2px;
    }

    &:after {
      opacity: 0;
      left: 3px;
      top: 4px;
    }
  }
}

.control-radio {
  + label:before {
    border-radius: 50%;
    top: 0px;
  }

  &:checked + label:after {
    width: 10px;
    height: 10px;
    background: #EF2637;
    border-radius: 50%;
  }
}

.control:checked + label {
  &:before {
    border-color: red;
  }

  &:after {
    opacity: 1;
  }
}

.control-checkbox + label {
  &:before {
    top: 0;
  }

  &:after {
    top: 1px;
    left: 0;
  }
}

.control-checkbox:checked + label:after {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='check' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-check fa-w-16 fa-2x'%3E%3Cpath fill='%23EF2637' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z' class=''%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.field {
  input:not([radio]):not([checkbox]) {
    border: 1px solid #acacae;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    padding: 10px 15px;
    line-height: 1.5;

    &:focus {
      outline: none !important;
      border: 1px solid #999;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}


#commerce-type-other-wrapper {
	display: none;
}

input {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 7px;
  position: relative;
  user-select: none;
  display: block;
	em {
			font-style: normal;
		font-size: 12px;	
	}

  &:first-child {
    font-weight: 500;
  }

  a {
    color: #EF2637;
  }
}

.bpaid-exists {
  display: none;
}

#countrycode-wrapper {
  position: relative;
  display: inline-block;
}

.radio {
  margin-bottom: 5px;

  &:first-child {
    margin-top: 10px;
  }

  label {
    cursor: pointer;
  }
}

.radio-inline {
  display: inline-block;
  margin-right: 14px;
}

.chars-limit {
	display: flex;
	justify-content: space-between;
	margin: -5px 0 5px;
}

.error .input {
  border: 1px solid #EF2637;
}

.pristine-error {
  color: #EF2637;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
}



.label-info {
  font-size: 12px;
  margin-bottom: 10px;
}

.cta {
  margin-top: 20px;
}

.select-css {
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  color: #5A5A5F;
  line-height: 1.3;
  padding: 1em 1.4em .9em .5em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #acacae;
  border-radius: .5em;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8.33'%3E%3Cpath d='M1.42.24A.85.85,0,0,0,.24.24a.85.85,0,0,0,0,1.18L6.91,8.09a.85.85,0,0,0,1.18,0l6.67-6.67a.85.85,0,0,0,0-1.18.85.85,0,0,0-1.18,0L7.5,6.32Z' style='fill:%23acacaf;fill-rule:evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1em auto, 100%;

  &:hover {
    border-color: #888;
  }
}