.link-arrow {
	width: 28px;
	height: 28px;
	display: block;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(239,38,55);
	border-image: initial;
	border-radius: 100%;
	text-indent: -9999px;
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 45%;	
	&--red {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z' fill='%23EF2637'/%3E%3C/svg%3E");
	}
}