.pillars {
	margin: 30px 0;
	@include sm {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	.container {
		@include sm {
			display: flex;
		}
	}
	.item {
		margin: 0 15px;
		padding: 30px 0;
		text-align: center;
		// box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
		background-color: #fff;
		// border: 1px solid rgba(0,0,0,.125);
		border: 1px solid transparent;
		border-radius: .25rem;
		display: flex;
		flex-direction: column;
		@include lg {
			width: 33.333%;
		}
		@include sm {
			padding-left: 40px;
			padding-right: 40px;
		}
		svg {
			display: block;
			margin: 0 auto 20px;
			width: 60px;
			fill: $red;
			@include sm {
				width: 100px;
			}
		}
		p {
			line-height: 1.4;
			margin-bottom: 10px;
			font-size: 14px;
			@include sm {
				font-size: 16px;
			}
		}
		a {
			color: $red;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
		margin: 0 0 20px;
		@include sm {
			font-size: 23px;
		}
	}
	.cta {
		margin-top: auto;
	}
	.link {
		color: $red;
		position: relative;
		padding: 0 11px 0 0;
		text-decoration: none;
		&:after {
			font-size: 12px;
			top: 2px;
			right: 0;
			font-family: "Font Awesome 5 Pro";
			content: "\F054";
			font-weight: 400;
			color: #EF2637;
			margin-left: 5px;
		}
	}
}

html[lang='fr'] .pillar2 .cta {
	display: none;
}

html[lang='de'],
html[lang='en'] {
	.pillar1 .cta,
	.pillar2 .cta,
	.pillar3 .cta,
	.slider .link {
		display: none;
	}
}

#tns1-item4 .link {
	visibility: hidden;
}
