</main>
  
    <footer class="footer--main">
<div class="container">
<h3>Social media</h3>

<div class="social-icons" style="padding-bottom: 20px;">
<p class="social-icon"><a class="icon icon--facebook" href="https://www.facebook.com/bpost.official?elqTrackId=5a19e3fdaddf4f2b8c9e3cfbbbc1a0a8&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286" rel="noopener noreferrer" target="_blank">Facebook</a></p>

<p class="social-icon"><a class="icon icon--linkedin" href="https://www.linkedin.com/company/bpost?elqTrackId=73c976fd95f34e59a95d06fc3cad144f&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286" rel="noopener noreferrer" target="_blank">Linkedin</a></p>

<p class="social-icon"><a class="icon icon--instagram" href="https://www.instagram.com/bpost/?elqTrackId=3ec1da1b5c814752835cae9f8fec82b4&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286" rel="noopener noreferrer" target="_blank">Instagram</a></p>
</div>

<div class="copyright">Copyright &copy; 2022 bpost | <a href="https://www.bpost.be/fr/conditions-generales?elqTrackId=24ce3425df2a4ea0a992833672e04db8&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286"> Conditions g&eacute;n&eacute;rales</a> | <a href="https://www.bpost.be/fr/privacy?elqTrackId=11b9dd4bf48a43f4b77d3a5f8c1a7445&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286">Privacy</a> | <a href="https://www.bpost.be/fr/cookie-policy?elqTrackId=9d5fb430d0bd4506a0cfeec7a3f90b88&elq=00000000000000000000000000000000&elqaid=203&elqat=2&elqCampaignId=&elqcst=272&elqcsid=286">Cookies</a></div>
</div>
</footer>

	
	<div id="dHLD7Tt45A5ktdB1On8ZqRY80LWcsMc1F_HRm3jAkJfM"></div>
	<div class="d365-mkt-config" style="display:none" data-website-id="HLD7Tt45A5ktdB1On8ZqRY80LWcsMc1F_HRm3jAkJfM" data-hostname="f490b930dc0b4189a3cacbef1c9b2c7d.svc.dynamics.com"></div>
  
    {# <script src="/_assets/js/vendor/pristine.min.js"></script>
    <script src="/_assets/js/i18n/fr.json.js"></script>
  	<script src="/_assets/js/scripts.js"></script> #}

  	<script src="https://stacrmtswemktcdnlrs.z6.web.core.windows.net/_assets/js/vendor/pristine.min.js"></script>
  	<script src="https://stacrmtswemktcdnlrs.z6.web.core.windows.net/_assets/js/i18n/fr.json.js"></script>
  	<script src="https://stacrmtswemktcdnlrs.z6.web.core.windows.net/_assets/js/scripts.js"></script>

  
</body>
</html>