$xs: 576px;
$sm: 768px;
$md: 992px;
$dk: 1024px;
$lg: 1200px;

$w: #fff;
$b: #000;
$gray: #5A5A5F;
$gray-bombay: #acacae;
$gray-silver: #cdcdcd;
$gray-alabaster: #f8f8f8;

$red: #EF2637;

$blue: #4195b9;
$blue-fountain: #549fbf;

$green: #66A367;
$green-halfbaked: #83bbd2;
$green-shadown: #9bc0ba;
$green-gumbo: #829fa8;