---
layout: basic-form.njk
title: Recommandez-nous un(e) nouveau/nouvelle collègue et recevez une belle récompense !
permalink: "/hr/recommander-nouveau-collegue/"
---

<header class="header">
  <div class="header-inner">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
  </div>  
</header>

<div class="box-wrapper">
  <div class="container">
    <div class="box">
      <p>Connaissez-vous quelqu’un qui ne travaille pas encore chez bpost et qui souhaite décrocher un emploi ou étudier chez nous ? Alors, suivez les étapes ci-dessous et recevez un bonus de 200 € brut.</p>
      <ol>
        <li>Discutez d'abord avec votre ami(e) pour vous rassurer s'il/elle est d'accord pour que vous nous fournissiez ces informations. </li>
        <li>Remplissez le formulaire ci-dessous avec vos coordonnées et celles de votre candidat. Vérifiez que tout est correctement rempli, sinon nous ne pourrons pas payer la prime.</li>
        <li>Vous recevrez tous les deux une confirmation par e-mail, afin de vous assurer que nous avons bien tout reçu.</li>
        <li>Votre candidat ne doit rien faire lui-même. Nos collègues l'appelleront pour vérifier s'il/elle est éligible pour l'un de nos postes vacants. </li>
      </ol>
      <p>Pour obtenir davantage d’informations et en savoir plus sur les conditions, surfez <a href="https://www.bpost4me.be/fr/group/hr4-me/campagne-de-recrutement">bpost4me</a>. </p>
    </div>
  </div>
</div>

<div class="container">

  <!-- FORM -->
  <div data-form-block-id="6d4acdc9-8a40-ed11-9db0-000d3aaca6b7"></div>
  <script src="https://mktdplp102cdn.azureedge.net/public/latest/js/form-loader.js?v=1.84.2007"></script>
  <!-- /FORM -->
</div>