---
layout: basic-thankyou.njk
title: Recommandez-nous un(e) nouveau/nouvelle collègue et recevez une belle récompense !
permalink: "/hr/thankyou/"
---

<header class="header">
  <div class="header-inner">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
  </div>  
</header>

<div class="box-wrapper">
  <div class="container">
    <div class="box">
      <p>Merci</p>
    </div>
  </div>
</div>

